
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AnaLayout.cshtml";
}


<div id="plant" class="plants" style="background:url(../../greeno/images/banner1.jpg);background-size:100% 100%;background-repeat:no-repeat;background-attachment:fixed">
    <div class="container">
        <div class="row" style="margin-top:80px">
            <div class="col-md-12 ">
                <div class="titlepage">
                    <h2>KURSLARIMIZ</h2>
                    <span>Birbirinden faydalı sporlarımızla karşınızdayız.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <section id="gallery">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 mb-4">
                        <div class="card">
                            <img src="~/greeno/images/yoga.jpeg" alt="" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">YOGA</h5>
                                <p class="card-text">Yoga, fiziksel ve zihinsel iyilik halini artırmak için nefes almaya odaklanan bir egzersiz şeklidir. Stresi azaltmak, sağlıklı kalmak, güç ve esnekliği artırmak için tasarlanmış bir dizi hareket, nefes egzersizleri ve meditasyon içerir.</p>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card">
                            <img src="~/greeno/images/fitness.jpeg" alt="" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">FİTNESS</h5>
                                <p class="card-text">Fitness kelime anlamı olarak "Sağlıklı ve formda olmak"dır. Bir çok egzersize dayalı bir spordur. Diğer bütün sporlardan farklı olarak temelde kasların tek tek aletli ya da aletsiz çalıştırılmasıyla sıkılaştırılması ve güçlendirilmesi amaçlanır.</p>
                              
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card">
                            <img src="~/greeno/images/pilates.jpeg" alt="" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">PİLATES</h5>
                                <p class="card-text">Pilates, bedenin dengeli tutulmasına yardımcı olan ve omurgayı desteklemekte önemli işlevi olan temel kaslar üzerine yoğunlaşılan bir egzersiz programıdır. Nefes egzersizi teknikleri de yer almaktadır.</p>
                              

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>


        


    </div>
</div>

