
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AnaLayout.cshtml";
}


<section>
  
    <div id="main_slider" class="carousel slide banner-main" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#main_slider" data-slide-to="0" class="active"></li>
            <li data-target="#main_slider" data-slide-to="1"></li>
            <li data-target="#main_slider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row marginii">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="carousel-caption ">
                                <h1>HealthyFIT'e <strong class="color"> Hoşgeldiniz...</strong></h1>
                                <p>Şehir merkezinde park sorunu olmadan, ister özel ister grup olarak (2 kişi) ev ortamında tüm hijyen önlemleri alınmış alanlarında eğitimli, donanımlı ve yenilikleri takip eden eğitmenler eşliğinde hedefinize kısa sürede sağlıklı bir şekilde ulaşacağınız spor merkezidir.</p>

                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="img-box">
                                <figure><img src="~/greeno/images/siyah3.jpg" style="border-radius:400px;height:500px;width:550px" alt="img" /></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row marginii">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="carousel-caption ">
                                <h1>HealthyFIT'e<strong class="color"> Hoşgeldiniz...</strong></h1>
                                <p>HealthyFit ailesi olarak amacımız; üyelerimizin daha bilinçli spor yapmalarını sağlamak ve gelişimlerini hızlandırarak sporu sadece aktivite olarak görmelerini değil, yaşam tarzı haline getirmelerine yardımcı olmaktır. Yetişmekte olan nesillere spor bilinci ve alışkanlığı kazandırmak, her yaş ve meslek grubundan insanların yaşamlarını zindeleştirmek için gerekli olan fiziksel ve zihinsel gelişim imkanlarını sağlamaktır.</p>

                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="img-box ">
                                <figure><img src="~/greeno/images/siyah2.jpg" style="border-radius:400px;height:500px;width:550px" alt="img" /></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row marginii">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="carousel-caption ">
                                <h1>HealthyFIT'e <strong class="color"> Hoşgeldiniz...</strong></h1>
                                <p>Şehir merkezinde park sorunu olmadan, ister özel ister grup olarak (2 kişi) ev ortamında tüm hijyen önlemleri alınmış alanlarında eğitimli, donanımlı ve yenilikleri takip eden eğitmenler eşliğinde hedefinize kısa sürede sağlıklı bir şekilde ulaşacağınız spor merkezidir.</p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="img-box">
                                <figure><img src="~/greeno/images/siyah4.jpg" style="border-radius:400px;height:500px;width:550px" alt="img" /></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
            <i class='fa fa-angle-left'></i>
        </a>
        <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
            <i class='fa fa-angle-right'></i>
        </a>
    </div>
</section>