
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AnaLayout.cshtml";
}


<div id="plant" class="plants" style="background:url(../../greeno/images/banner1.jpg);background-size:100% 100%;background-repeat:no-repeat;background-attachment:fixed">
    <div class="container">
        <div class="row" style="margin-top:80px">
            <div class="col-md-12 ">
                <div class="titlepage">
                    <h2>ANTRENÖRLERİMİZ</h2>
                    <span>Antrenörlerimiz herkes ile tek tek özel olarak ilgilenmektedir.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container" >
        <div class="row" >
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12"  style="margin-bottom:50px">
                <div class="plants-box">
                    <figure><img src="~/greeno/images/21.jpeg" alt="img" /></figure>
                    <h3>Yonca Keskin</h3>
                    <p>Yoga hocamız olan Yonca hanım engin deneyimleriyle sizleri bambaşka bir boyuta götürüyor.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12" style="margin-bottom:50px">
                <div class="plants-box">
                    <figure><img src="~/greeno/images/19.jpeg" alt="img" /></figure>
                    <h3>Özgür Karaca</h3>
                    <p>Fitness eğitmenimiz olan Özgür hocamızla birlikte çok kısa zamanda etkileyici bir görünüme kavuşabilirsiniz.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12" style="margin-bottom:50px">
                <div class="plants-box">
                    <figure><img src="~/greeno/images/13.jpeg" alt="img" /></figure>
                    <h3>Merve Kılıç</h3>
                    <p>Pilates eğitmenimiz Merve hanımla bambaşka bir pilates deneyimi edinebilirsiniz.</p>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12" style="margin-bottom:50px">
                <div class="plants-box">
                    <figure><img src="~/greeno/images/20.jpeg" alt="img" /></figure>
                    <h3>Sophia Miller</h3>
                    <p>Pilates eğitmenimiz Sophia hanımın kendi geliştirdiği hareketlerle tanışın.</p>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12" style="margin-bottom:50px">
                <div class="plants-box">
                    <figure><img src="~/greeno/images/18.jpeg" alt="img" /></figure>
                    <h3>Cenk Yılmaz</h3>
                    <p>Fitness eğitmenimiz Cenk beyle karın kaslarınıza ve fit bir vücuda merhaba diyeceksiniz.</p>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12" style="margin-bottom:50px">
                <div class="plants-box">
                    <figure><img src="~/greeno/images/12.jpeg" alt="img" /></figure>
                    <h3>Adriana Yılmaz</h3>
                    <p>Yoga eğitmenimiz Adriana hanım ile bir zaman yolculuğuyla rahatlamak tam size göre olacaktır.</p>
                </div>
            </div>

        </div>
    </div>
</div>

