
@{
    ViewBag.Title = "_AnaLayout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>HealthyFit</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/greeno/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/greeno/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/greeno/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="~/greeno/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/greeno/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->
<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="~/greeno/images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo" style="font-size:40px;font-weight:bold"> <a href="/Anasayfa/Index/" style="color:#4d932e">HEALTHYFIT</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <div class="menu-area">
                            <div class="limit-box">
                                <nav class="main-menu">
                                    <ul class="menu-area-main">
                                        <li class="active"> <a href="/Anasayfa/Index/">HAKKIMIZDA</a> </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                BİLGİLERİMİZ
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                <a class="dropdown-item" href="/Kurs/Index/">KURSLARIMIZ</a>
                                                <a class="dropdown-item" href="/Personel/Index/">ANTRENÖRLERİMİZ</a>
                                                <a class="dropdown-item" href="/Kampanya/Index/">KAMPANYALARIMIZ</a>
                                            </div>
                                        </li>

                                        <li><a href="/Sube/Index/">ŞUBELERİMİZ</a></li>
                                        <li><a href="/Iletisim/Index/">İLETİŞİM</a></li>
                                        <li><a href="/GirisYap/GirisYap/">GİRİŞ YAP</a></li>
                                        
                                    </ul>
                                </nav>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header inner -->
    </header>
    <!-- end header -->
    
    <!-- Javascript files-->
    <script src="~/greeno/js/jquery.min.js"></script>
    <script src="~/greeno/js/popper.min.js"></script>
    <script src="~/greeno/js/bootstrap.bundle.min.js"></script>
    <script src="~/greeno/js/jquery-3.0.0.min.js"></script>
    <script src="~/greeno/js/plugin.js"></script>
    <!-- sidebar -->
    <script src="~/greeno/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/greeno/js/custom.js"></script>
    <!-- javascript -->
    <script src="~/greeno/js/owl.carousel.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });

            $(".zoom").hover(function () {

                $(this).addClass('transition');
            }, function () {

                $(this).removeClass('transition');
            });
        });

    </script>

    <div>@RenderBody()</div>
</body>
</html>