
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Kullanıcı Paneli</title>

    <!-- Bootstrap core CSS -->
    <link href="~/startbootstrap-simple-sidebar-gh-pages/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/startbootstrap-simple-sidebar-gh-pages/css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="border-right" id="sidebar-wrapper" >
            <div class="sidebar-heading" style="color:#28a745">HEALTHYFIT</div>
            <div class="list-group list-group-flush">
                <a href="/Kullanici/BilgiListele/" class="list-group-item list-group-item-action ">Bilgilerim</a>
                <a href="/Randevu/AntrenorRandevuAl/" class="list-group-item list-group-item-action ">Antrenör</a>
                <a href="/Randevu/DiyetisyenRandevuAl/" class="list-group-item list-group-item-action ">Diyetisyen</a>
                <a href="/Fatura/MusteriFaturaListeleme/" class="list-group-item list-group-item-action ">Fatura</a>
                <a href="/Randevu/RandevuListele/" class="list-group-item list-group-item-action ">Randevu</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-primary" style="background-color:#28a745; color:white;" id="menu-toggle">Menü</button>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/Anasayfa/Index/">Anasayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/CikisYap/CikisYap/">Çıkış Yap</a>
                        </li>

                    </ul>
                </div>
            </nav>

            <div class="container-fluid">
                @RenderBody()
                
            </div>
        </div>
        <!-- /#page-content-wrapper -->
        
    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/startbootstrap-simple-sidebar-gh-pages/vendor/jquery/jquery.min.js"></script>
    <script src="~/startbootstrap-simple-sidebar-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>$("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });</script>
   
</body>

</html>

