
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AnaLayout.cshtml";
}

<div id="plant" class="plants" style="background:url(../../greeno/images/banner1.jpg);background-size:100% 100%;background-repeat:no-repeat;background-attachment:fixed">
    <div class="container">
        <div class="row" style="margin-top:80px">
            <div class="col-md-12 ">
                <div class="titlepage">
                    <h2>ŞUBELERİMİZ</h2>
                    <span>Biz gittikçe büyüyen kocaman bir aileyiz.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <section id="gallery">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 mb-4">
                        <div class="card">
                            <img src="~/greeno/images/AYDIN.jpeg" alt="" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">AYDIN</h5>
                                <p class="card-text">Merkez şubemiz olan Aydın ilimizde sizlere hizmet vermekteyiz. Sizler sayesinde daha da büyüyoruz.</p>
                                <p style="margin-top:10px" class="card-footer">Adres: Kent caddesi Atatürk mah. 70/b Söke/Aydın</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card">
                            <img src="~/greeno/images/BURSA.jpeg" alt="" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">BURSA</h5>
                                <p class="card-text">İkinci şubemiz olan Bursa ilimizde de sizlere hizmet vermekten mutluluk duyuyoruz.</p>
                                <p style="margin-top:10px" class="card-footer">Adres: Kıbrıs caddesi Gazcılar mah. 16/c Osmangazi/Bursa </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card">
                            <img src="~/greeno/images/İSTANBUL.jpeg" alt="" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">İSTANBUL</h5>
                                <p class="card-text"> Üçüncü şubemiz olan İstanbul ilimizde de sizlere hizmet vermekten mutluluk duyuyoruz.</p>
                                <p style="margin-top:10px" class="card-footer">Adres: Kahraman caddesi Levent mah. 16/c Beşiktaş/İstanbul </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

