
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AnaLayout.cshtml";
}

<div id="plant" class="plants" style="background:url(../../greeno/images/banner1.jpg);background-size:100% 100%;background-repeat:no-repeat;background-attachment:fixed">
    <div class="container">
        <div class="row" style="margin-top:80px">
            <div class="col-md-12 ">
                <div class="titlepage">
                    <h2>İLETİŞİM</h2>
                    <span>Bizimle iletişime geçin.</span>
                </div>
            </div>
        </div>
    </div>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <div class="anailetisim container-fluid">
        <div class="container">
            
                <div class="col-md-5 iletisimbilgi">
                    <h2>   İletişim Bilgilerimiz   </h2>
                    <table class="mtop">
                        <tbody>
                            <tr>
                                <td><strong>    Adres:      </strong></td>
                                <td>
                                    Uludağ Üniversitesi Tıp Fakültesi, Turgut Özal Tıp Merkezi, Kulak Burun Boğaz Anabilim Dalı, Elazığ Yolu 11. km, 44280 Malatya, TÜRKİYE
                                </td>
                            </tr>
                            <tr>
                                <td><strong>   Telefon:    </strong></td>
                                <td>+90 422 341 06 60- 4602<br>+90 422 444 19 96 - 4602</td>
                            </tr>
                            <tr>
                                <td><strong>Fax: </strong></td>
                                <td>+90 422 341 39 28</td>
                            </tr>
                            <tr>
                                <td><strong>E-Mail: </strong></td>
                                <td>erkan.karatas@inonu.edu.tr<br>drerkankaratas@gmail.com</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>