
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AnaLayout.cshtml";
}

<div id="plant" class="plants" style="background:url(../../greeno/images/banner1.jpg);background-size:100% 100%;background-repeat:no-repeat;background-attachment:fixed">
    <div class="container">
        <div class="row" style="margin-top:80px">
            <div class="col-md-12 ">
                <div class="titlepage">
                    <h2>KAMPANYALARIMIZ</h2>
                    <span>Kampanyalarımızdan yararlanmak için bize ulaşın.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <section id="gallery">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 mb-4">
                        <div class="card">
                            <img src="~/greeno/images/valentines-day-puns-hero.jpg" alt="" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">ÇİFTLERE ÖZEL %50 İNDİRİM KAMPANYASI</h5>
                                <p class="card-text">
                                    14 Şubat Sevgililer Günü'ne özel %50 indirim kampanyamızdan yararlanmak için sizleri şubelerimize bekliyoruz.
                                </p>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>

